<div size="small" (click)="!fromCard?showSearchBar():null" class="card" [nbSpinner]="searching && !validResponse"
    [ngStyle]="{
        'background-image': 'url(' + imageMap[mainWeatherType] + ')',
         'background-size': 'contain', 
         'background-repeat': 'no-repeat',
         'width': '100%',
         'background-position': 'center'
        }">
    <div id="addCityIndicator" *ngIf="!fromCard">
        <!-- <div class="row">
            <div class="col-6"><img id="placeholderImg" [src]="placeholderPath" alt=""></div>
            <div class="col-6"><h4 id="placeHolderText">Click card to add a city!</h4></div>
        </div>   -->
        <img id="placeholderImg" [src]="placeholderPath" alt="">   
        <h4 id="placeHolderText">Click card to add a city!</h4>   
    </div>
    <div id="formField" *ngIf="wantToSearch" >
        <input type="text" fieldSize="large" shape="round" [(ngModel)]="cityInput" required nbInput placeholder="Enter city name ..">
        <button nbButton (click)="search()" (keyup.enter)="search()" shape="round" id="searchButton"
            style="margin-left: 8px;">
            <nb-icon icon="search-outline"></nb-icon>
        </button>
        <div>
            <button (click)="null" *ngIf="errorInInput" nbButton status="danger" style="margin: 8px;">Invalid query, try
                again!</button>
        </div>
    </div>

    <div *ngIf="validResponse">
        <button nbButton (click)="edit()" shape="round" id="editButton" style="margin-left: 8px;">
            <nb-icon icon="edit-outline"></nb-icon>
        </button>
        <h1 id="cityName">{{cityInput}}</h1>
        <p> {{mainWeatherType}} </p>
        <p>Max is {{tempMax}}, min is {{tempMin}}</p>
        <!-- <img id="weatherImg" [src]="imageMap[mainWeatherType]" alt="" style="width: 100px;height: auto;"> -->
        <!-- <img [src]="'http://openweathermap.org/img/wn/'+iconId+'.png'" alt="weather icon"> -->
    </div>
</div>