.card {
    width: 100%;
    // max-width: 300px;
    height: 300px;
    // max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

#editButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}
