.card {
    width: 100em;
    height: 23em;
    // max-width: 300px;
    // max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

#editButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

#temperature{
    position: absolute;
    top:90%;
    right: 0;
    padding-right: 8px;
}

#cityName {
    // position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
}

#weatherDescription {
    font-family: 'Ubuntu', sans-serif;
    // font-size: 29px;
    text-transform: capitalize;
}

#addCityIndicator {
    height: 100%;
    width: 100%;
    border: 2px dashed #ccc;
    border-radius: 20px;
    font-family: sans-serif;
    margin: 8px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholderImg {
    height: 40%;
    width: auto;
    filter: brightness(90%);
}

#placeHolderText {
    color: grey;
}

#formField {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    font-family: sans-serif;
    margin: 8px auto;
    padding: 20px;
    // display: flex;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    overflow: scroll
}
