<nb-layout>

  <nb-layout-header fixed>
    <h1 class="heading text-undefined text-alignment-left text-transform-none">CityWeather</h1>
    <img class="image" src="/assets/images/default.svg" src="/assets/images/logo.png">
  </nb-layout-header>

  <nb-layout-column id="componentsDrawer">
    <div class="row justify-content-center" >
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
      <div class="col-sm col-md-6 col-xl-4"><app-weather-panel></app-weather-panel></div>
    </div>    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
