<nb-layout>

  <nb-layout-header fixed>
    <h1 class="heading text-undefined text-alignment-left text-transform-none">CityWeather</h1>
    <img class="image" src="/assets/images/default.svg" src="/assets/images/logo.png">
  </nb-layout-header>

  <nb-layout-column>
    <div class="row">
      <div class="col"><app-weather-panel></app-weather-panel></div>
      <!-- <div class="col"><app-weather-panel></app-weather-panel></div>
      <div class="col"><app-weather-panel></app-weather-panel></div> -->
    </div>    
    <!-- <div class="row">
      <div class="col"><app-weather-panel></app-weather-panel></div>
      <div class="col"><app-weather-panel></app-weather-panel></div>
      <div class="col"><app-weather-panel></app-weather-panel></div>
    </div>    
    <div class="row">
      <div class="col"><app-weather-panel></app-weather-panel></div>
      <div class="col"><app-weather-panel></app-weather-panel></div>
      <div class="col"><app-weather-panel></app-weather-panel></div>
    </div>     -->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
